# 依赖
node_modules/

# 构建产物
build/
dist/
src/renderer/vendor/

# 日志
*.log
npm-debug.log*

# 系统文件
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
resources/Chinese_ink_wash_painting__shu_*.png
resources/Chinese_ink_wash_painting__shu_*.png
resources/Chinese_ink_wash_painting__shu_*.png
.qa-userdata/
